body {
    background-color: rgb(254, 249, 233);
    font-family: 'Share Tech Mono', monospace;
}

#container {
    display: flex;
    flex-direction: row;
    height: fit-content;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: fit-content;
    width: fit-content;
    border: 2px solid black;
    padding: 5px;
    margin: 5px;
    font-size: 20px;
    box-shadow: 5px 3px gray;
}

#menu > h3 {
    margin: 0px;
    padding: 0px;
}

#menu > p {
    margin-top: 3.5px;
    margin-bottom: 3.5px;
}

#options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4px;
}

#options > button {
    font: inherit;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    width: 200px;
    height: 35px;
    border-radius: 3px;
    border: 2px solid darkblue;
    box-shadow: 2px 2px darkblue;
    background-color: rgb(66, 133, 244);
    color: white;
    font-size: 18px;
    font-weight: 600;
}

button:hover {
    background-color: rgb(255, 94, 0) !important;
}

.active {
    background-color: rgb(255, 94, 0) !important;
}

#content {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: fit-content;
    min-height: 255px;
    width: fit-content;
    border: 2px solid black;
    padding: 5px;
    margin: 5px;
    font-size: 20px;
    box-shadow: 5px 3px gray;
}